#portfolioHome {
    min-height: 100vh;
    height: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    margin-left: auto;
    margin-right: auto;
}
  
  #portfolioHome #nav {
    width: 35vw;
  }

  #portfolioHome #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 5rem;
    box-sizing: border-box;
    margin-bottom: 1em;
  }

  .projectLinkWithLogo {
    display: flex;
  }
  .projectLinkWithLogo img {
    max-width: 25px;
    height: auto;
  }

  #portfolioHome #projects #projectsHeading {
    flex-basis: 100%;
  }
  
  #nav a {
   font-size: 1.3em;
   margin-right:0.3em;
   text-decoration: none;
  }
  
  #nav #portfolioName {
    font-size:3em;
    margin-bottom: 0.3em;
  }
  
  #nav #portfolioDescription {
    font-size:1.5em;
    opacity: 0.7;
  }
  
  
  #projects #projectsHeading {
    font-size: 2em;
  }
  
  #projects .project:first-of-type {
    margin-top: 2em;
  }
  
  #projects .project:last-of-type {
    margin-bottom: 2em;
  }
  
  #projects .project {
    flex-basis: max(50% - 5rem, 400px);
    margin : 4em 0;
  }
  
  .project .projectDescription {
    margin: 1.5em 0;
    color:#282828;
    width: 100%;
    max-width: 600px;
  }
  
.project .projectImage {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px, rgb(24, 40, 66) 0px 0px 0px 2px inset;
  max-width: min(400px, 100%);
}

  .project .projectName {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .project .projectName a {
    font-size:1.2em;
    font-weight:500;
    text-decoration: none;
    color:#1d1d1d;
  }
  
  .project a {
    text-decoration : none;
    font-size:1.1em;
  }
  
  .project .projectTech {
    display: flex;
    flex-wrap:wrap;
    width: 80%;
  }

  span {
    font-size:1.2em;
  }
  .tag {
    background: #f2f2f2;
    border-radius: 15px;
    padding:7px 20px;
    margin-right:1em;
    margin-bottom:1em;
    font-size: 0.8em;
    width: auto;
  }
  
  @media screen and (max-width: 1200px) {
    #portfolioHome, #portfolioHome #nav {
      width: 80vw;
    }

    #portfolioHome #nav, #portfolioHome #projects {
      margin-bottom: 1em;
    }
  }
  
  @media screen and (max-width: 450px) {
    .project .projectTech {
      width: 90%;
    }

  }